@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Open+Sans & family= Ubuntu & display=swap');

*{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body, html{
    
    height: 100vh;
    background-image: url('../imagens/');
}
h1{
    padding: 50px;
}
h1, p {
    font-family: 'Ubuntu', sans-serif;
}

main{
    margin: 480px 0px;
    background-color: aqua;
}
section{
    
} 
.logo{
    width: 150px;
    height: 150px;
}
section div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    

    background-color: antiquewhite;
    margin: 50px;
}

footer{
    position: relative;
    text-align: center;

    
}